<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Inspetor</title>
</head>
<body>
    <h1>Inspetor: <%=inspetor._user.nome%></h1>
    <p>Email: <%=inspetor._user.email%></p>
    <p>Numero de avaliações: <%=inspetor.numlaudos%></p>
    <!-- <p>Ultima avaliação: <%=inspetor.lastlaudoid%></p> -->

    <div>
        <a href="/inspetores/<%=inspetor._id%>/edit">Editar</a>
        <form action="/inspetores/<%=inspetor._id%>?_method=DELETE" method="POST">
            <button>Deletar</button>
        </form>
    </div>

    <a href="/inspetores">Voltar para Inspetores</a>

</body>
</html>